body {
  background-color: #f7f7f7;
}

.card-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.card-image {
  max-height: 300px;
}

md-card-actions {
  padding: 12px;
}

.info-item {
  width: 120px;
  height: 120px;
}

.divider-item {
  width: 80px;
  height: 120px;
}

.list-image {
  width: 60px;
  height: 60px;
  margin: 8px 0;
  border-radius: 50%;
  border: 2px solid #e7e7e7;
}

md-card-content .md-title {
  margin: 0;
  text-align: center;
}
