<h2 class="md-display-1" flex layout-margin>Book a Consultation</h2>
<md-card flex ng-controller="BookingFormCtrl as bookingForm">
  <md-card-content>
    <h3 class="md-title">BOOK THIS CONSULTATION FOR</h3>
    <md-list layout="row" layout-align="center center">
      <div md-list-item layout="column" flex="15" layout-align="center center" class="md-button"
                    ng-repeat-start="familyMember in bookingForm.familyMembers"
                    ng-class="{activemember: $index === bookingForm.activeMember}"
                    ng-click="bookingForm.setActiveFamilyMember($index)">
        <img class="list-image" ng-src="{{familyMember.avatar}}">
        <span>{{familyMember.name}}</span>
      </div>
      <md-list-item layout="column" flex="5" layout-align="center center" ng-repeat-end>
        <span>or</span>
      </md-list-item>
      <md-list-item layout="column" flex="15" layout-align="center center">
        <span class="list-image" layout="column" layout-align="center center"></span>
        <span>Someone Else</span>
      </md-list-item>
    </md-list>
  </md-card-content>

  <md-divider></md-divider>

  <md-card-content>
    <h3 class="md-title">SELECT A HEALTHCARE PROFESSIONAL</h3>
    <md-list layout="row" layout-align="center center">
      <div md-list-item layout="column" flex="15" layout-align="center center" class="md-button"
                    ng-repeat-start="service in bookingForm.availableServices"
                    ng-class="{activeservice: $index === bookingForm.activeService}"
                    ng-click="bookingForm.setActiveService($index)">
        <img class="list-image" ng-src="{{service.icon}}">
        <span>{{service.type}}</span>
      </div>
      <md-list-item layout="column" flex="5" layout-align="center center" ng-repeat-end ng-show="!$last">
        <span>or</span>
      </md-list-item>
    </md-list>
  </md-card-content>

  <md-divider></md-divider>

  <md-card-content>
    <h3 class="md-title">SELECT THE DOCTOR</h3>
    <div md-input-container flex="30" class="input-selector">
      <label>{{bookingForm.activeMedic}}</label>
      <md-select ng-model="bookingForm.activeMedic" id="medicSelector">
        <md-option ng-repeat="medic in bookingForm.medics" value="{{medic.name}}">
          {{medic.name}}
        </md-option>
      </md-select>
    </div>
  </md-card-content>

  <md-divider></md-divider>
</md-card>
