<h2 class="md-display-1" flex layout-margin>Book a Consultation</h2>
<md-card flex ng-controller="BookingFormCtrl as bookingForm">
  <md-card-content>
    <h3 class="md-title">BOOK THIS CONSULTATION FOR</h3>
    <md-list layout="row" layout-align="center center">
      <md-list-item layout="column" flex="15" layout-align="center center"
                    ng-repeat-start="familyMember in bookingForm.familyMembers"
                    ng-class="{activemember: $index === bookingForm.activeMember}"
                    ng-click="bookingForm.setActiveFamilyMember($index)">
        <img class="list-image" ng-src="{{familyMember.avatar}}">
        <span>{{familyMember.name}}</span>
      </md-list-item>
      <md-list-item layout="column" flex="5" layout-align="center center" ng-repeat-end>
        <span>or</span>
      </md-list-item>
      <md-list-item layout="column" flex="15" layout-align="center center">
        <span class="list-image" layout="column" layout-align="center center"></span>
        <span>Someone Else</span>
      </md-list-item>
    </md-list>
  </md-card-content>

  <md-divider></md-divider>

  <md-card-content>
    <h3 class="md-title">SELECT A HEALTHCARE PROFESSIONAL</h3>
    <md-list-item layout="column" flex="15" layout-align="center center"
                  ng-repeat-start="service in bookingForm.availableServices"
                  ng-class="{activeservice: $index === bookingForm.activeService}"
                  ng-click="bookingForm.setActiveService($index)">
      <img class="list-image" ng-src="{{service.icon}}">
      <span>{{service.type}}</span>
    </md-list-item>
    <md-list-item layout="column" flex="5" layout-align="center center" ng-repeat-end ng-show="!$last">
      <span>or</span>
    </md-list-item>
  </md-card-content>
</md-card>
